
<footer id="footer" class="clearfix">
  <div>Theme <span class="codename">Typescript</span> designed by <a href="http://rakugaki.me/" target="_blank">Art Chen</a>.</div>
  <div>&copy; <a href="{{@blog.url}}">{{@blog.title}}</a></div>
  
</footer>

