
<footer id="footer" class="clearfix">

	<div class="social-wrapper">
		<a class="social github" href="https://github.com/somethiiing">
		  <span class="icon icon-github"></span>
	  </a>
	  <a class="linked in" href="http://linkedin.com/in/wilsonyu2">
		  <span class="icon icon-linkedin"></span>
	  </a>
  </div>
  <div>Theme <span class="codename">Typescript</span> designed by <a href="http://rakugaki.me/" target="_blank">Art Chen</a>.</div>
  <div>&copy; <a href="{{@blog.url}}">{{@blog.title}}</a></div>
  
</footer>

