<header id="header">
	<div class="header-wrapper clearfix">
		<a class="logo" href="{{@blog.url}}">
			<h1>{{@blog.title}}</h1>
			<h2>{{@blog.description}}</h2>
		</a>
		<button class="site-nav-switch">
	    <span class="icon icon-menu"></span>
	  </button>
	</div>
	<aside class="site-menu">
		{{navigation}}
	</aside>
</header>
